/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    width: 100%;
    height: 100%
}

body, td, input, textarea, select, #loading {
    font-family: arial, sans-serif
}

input, textarea, select {
    font-size: 100%
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff
}

.msg {
    color: #757575;
    font-size: 20px;
    letter-spacing: .2px;
    line-height: 20px;
    text-align: center
}

#nlpt {
    animation: a-s .5s 2.5s 1 forwards;
    background-color: #f1f1f1;
    height: 4px;
    margin: 56px auto 20px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    width: 300px
}

#nlpt::before {
    animation: a-lb 20s 3s linear forwards;
    background-color: #db4437;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-300px);
    width: 100%
}

@keyframes a-lb {
    0% {
        transform: translateX(-300px)
    }
    5% {
        transform: translateX(-240px)
    }
    15% {
        transform: translateX(-30px)
    }
    25% {
        transform: translateX(-30px)
    }
    30% {
        transform: translateX(-20px)
    }
    45% {
        transform: translateX(-20px)
    }
    50% {
        transform: translateX(-15px)
    }
    65% {
        transform: translateX(-15px)
    }
    70% {
        transform: translateX(-10px)
    }
    95% {
        transform: translateX(-10px)
    }
    100% {
        transform: translateX(-5px)
    }
}

@keyframes a-s {
    100% {
        opacity: 1
    }
}

@keyframes a-h {
    100% {
        opacity: 0
    }
}

@keyframes a-nt {
    100% {
        transform: none
    }
}

@keyframes a-e {
    43% {
        animation-timing-function: cubic-bezier(.8, 0, .2, 1);
        transform: scale(.75)
    }
    60% {
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-16px)
    }
    77% {
        animation-timing-function: cubic-bezier(.16, 0, .2, 1);
        transform: none
    }
    89% {
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-5px)
    }
    100% {
        transform: none
    }
}

@keyframes a-ef {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        transform: scaleY(.42)
    }
    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        transform: scaleY(.98)
    }
    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        transform: scaleY(.96)
    }
    100% {
        transform: none
    }
}

@keyframes a-efs {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        opacity: .3
    }
    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        opacity: .03
    }
    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        opacity: .05
    }
    100% {
        opacity: 0
    }
}

@keyframes a-es {
    24% {
        animation-timing-function: cubic-bezier(.8, 0, .6, 1);
        transform: rotate(-25deg)
    }
    52% {
        animation-timing-function: cubic-bezier(.63, 0, .2, 1);
        transform: rotate(-42.5deg)
    }
    83% {
        animation-timing-function: cubic-bezier(.8, 0, .84, 1);
        transform: rotate(-42deg)
    }
    100% {
        transform: rotate(-43deg)
    }
}

.la-e {
    animation: 3.6s cubic-bezier(.03, 0, .17, .67) kf-e;
    margin: 0 auto;
    position: relative
}

.la-e, .la-b {
    height: 165px;
    width: 220px
}

.la-l, .la-r, .la-m, .la-b, .la-i > * {
    position: absolute
}

.la-m {
    height: 220px;
    top: -101px;
    transform: scaleY(.75) rotate(45deg);
    width: 220px
}

.la-b {
    border-radius: 22px 22px 15px 15px;
    overflow: hidden;
}

.la-b .la-l, .la-b .la-r, .la-b .la-m {
    background: #f1f3f4
}

.la-b .la-l {
    left: -1px
}

.la-b .la-r {
    right: -1px
}

.la-s {
    height: 142px;
    top: 41px;
    width: 51px
}

.la-c {
    height: 108px;
    width: 51px
}

.la-c.la-l {
    background: #c5221f;
    transform: scaleY(.75) skew(0, 45deg);
    transform-origin: top right
}

.la-c.la-r {
    background: #fbbc04;
    transform: scaleY(.75) skew(0, -45deg);
    transform-origin: top left
}

.la-k .la-l, .la-k .la-r {
    border: 3px none #fff;
    border-top-style: solid;
    height: 22px;
    top: -3px;
    width: 22px
}

.la-k .la-l {
    border-radius: 25px 0 0 0;
    left: 0;
    transform: rotate(37deg);
    transform-origin: bottom right
}

.la-k .la-r {
    border-radius: 0 25px 0 0;
    right: 0;
    transform: rotate(-37deg);
    transform-origin: bottom left
}

.la-k .la-m {
    background: #fff;
    top: -166px
}

.la-i {
    animation: .9s linear 1.2s kf-v;
    opacity: 0
}

.la-i > .la-l, .la-i > .la-r {
    border-color: #fafbfb
}

.la-i > .la-m {
    background: #fafbfb
}

@keyframes kf-e {
    0% {
        opacity: 0;
        transform: scale(.72)
    }
    33% {
        animation-timing-function: cubic-bezier(.21, .02, .03, .92);
        opacity: 1;
        transform: scale(.8)
    }
    50% {
        animation-timing-function: linear;
        transform: scale(.96)
    }
}

@keyframes kf-c {
    25% {
        animation-timing-function: cubic-bezier(.17, .98, .38, 1);
        transform: scale(1.1)
    }
    to {
        transform: none
    }
}

@keyframes kf-s {
    35% {
        animation-timing-function: cubic-bezier(.17, .34, .69, .78);
        transform: scale(.88)
    }
    to {
        transform: none
    }
}

@keyframes kf-v {
    66% {
        animation-timing-function: cubic-bezier(.3, 0, .83, .83);
        opacity: 1
    }
}

.invfr {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border: 0
}

.msgb {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    padding: 20px
}

